# =========================
# Java / Maven
# =========================
target/
*.class
*.jar

# =========================
# IntelliJ / VSCode
# =========================
.idea/
*.iml
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# =========================
# Node.js
# =========================
node_modules/
dist/
build/

# =========================
# Big files
# =========================
*.mp4
*.avi
*.mkv
*.mov
*.zip
*.rar
*.7z
*.iso

# =========================
# Data Science
# =========================
*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.parquet

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log