# =========================
# Java / Maven
# =========================
target/
*.jar

# =========================
# IntelliJ / VSCode
# =========================
.idea/
*.iml
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# =========================
# Node.js
# =========================
node_modules/
dist/
build/